<div id="import-pascal-voc">
    <sly-style>
        #import-pascal-voc .centered-tabs .el-tabs__nav { width: 100%;}
        #import-pascal-voc .centered-tabs .el-tabs__nav .el-tabs__item {
        width: 50%;
        text-align: center;
        }

        #import-pascal-voc .el-tabs.el-tabs-cards .el-radio {
        display: flex;
        align-items: start;
        /*margin-bottom: 10px;*/
        margin-left: 0;
        white-space: normal;
        }

        #import-pascal-voc .el-tabs.el-tabs-cards .el-radio__label div {
        color: #7f858e;
        font-size: 13px;
        }

        #import-pascal-voc .el-tabs.el-tabs-cards { border-radius: 4px; box-shadow: none; }
        #import-pascal-voc .el-tabs.el-tabs-cards .el-tabs__header { background-color: #f6fafd; }
        #import-pascal-voc .el-tabs.el-tabs-cards .el-tabs__nav { float: none; display: flex; justify-content:
        space-between; }
        #import-pascal-voc .el-tabs.el-tabs-cards .el-tabs__item { flex: 1; margin-bottom: -3px; padding: 9px 16px 13px;
        height: auto; line-height: normal; border-radius: 4px; }
    </sly-style>


    <pre>
        {{ JSON.stringify(state, undefined, 2) }}
    </pre>


    <sly-card class="mt15" title="1. Input data">

        <sly-field title="Path to folder with videos"
                               description="Copy path to your folder with videos in Team files.">
        <el-input v-model="state.pathToVideos" placeholder="Please input path to folder"></el-input>
    </sly-field>


    <el-button
            :disabled="!state.resultingProjectName || data.finished"
            type="primary"
            :loading="data.started"
            @click="data.started = true; command('preview')">
        <i class="zmdi zmdi-play" style="margin-right: 5px"></i> Scan dir
    </el-button>
    </sly-card>



    <sly-card v-if="data.tree" class="mt15" title="2. Select videos or folders" subtitle="All selected videos/directories will be download">
    <div>
        <sly-file-viewer :list="data.tree" v-model="state.selected"/>
    </div>

    </sly-card>



    <sly-card v-show="state.selected.length > 0" class="mt15" title="3. Download settings" subtitle="Configure videos copying and destination project">

        <sly-field title="Videos extention">
            <el-checkbox v-model="state.checked" disabled>All videos will be converted to mp4 format</el-checkbox>
        </sly-field>





        <sly-field title="Result project"
                   description="Define destination project and dataset">
            <div class="fflex">

                <el-radio class="radio"
                          v-model="state.dstProjectMode"
                          label="newProject"
                          @input="(val) => {
                            if (val === 'newProject') {
                                state.dstDatasetMode = 'newDataset';
                            }
                          }"
                >
                    Create new project
                </el-radio>
                <el-radio class="radio" v-model="state.dstProjectMode" label="existingProject">Add to existing project
                </el-radio>
            </div>
            <div class="mt5">
                <div v-if="state.dstProjectMode === 'newProject'">
                    <el-input placeholder="Please input project name" v-model="state.dstProjectName"></el-input>
                    <div class="mt5" style="color: #5a6772">
                        <i>If project with the same name already exists, a new name will be generated automatically</i>
                    </div>
                </div>
                <div v-if="state.dstProjectMode === 'existingProject'">
                    <sly-select-project
                            :workspace-id="data.workspaceId"
                            :project-id.sync="state.dstProjectId"
                            :options="{showLabel: false, availableTypes: ['videos']}"
                    >
                    </sly-select-project>
                </div>
            </div>
        </sly-field>
        <sly-field title="Result dataset"
                   description="All selected items will be placed to a single dataset. To create multiple datasets for
                   different subsets of selected items do the following: select items -> import to one dataset, then select another items
                    -> import them to another dataset, and so on ...">
            <div class="fflex">
                <el-radio class="radio" v-model="state.dstDatasetMode" label="newDataset">Create new dataset</el-radio>
                <el-radio class="radio"
                          v-model="state.dstDatasetMode"
                          label="existingDataset"
                          :disabled="state.dstProjectMode === 'newProject'">
                    Add to existing dataset
                </el-radio>
            </div>
            <div class="mt5">
                <div v-if="state.dstDatasetMode === 'newDataset'">
                    <el-input placeholder="Please input dataset name" v-model="state.dstDatasetName"></el-input>
                    <div class="mt5" style="color: #5a6772">
                        <i>If dataset with the same name already exists, a new name will be generated automatically</i>
                    </div>
                </div>
                <div v-if="state.dstDatasetMode === 'existingDataset'">
                    <sly-select-dataset
                            :project-id="state.dstProjectId"
                            :datasets.sync="state.selectedDatasetName"
                            :options="{showLabel: false}"
                    >
                    </sly-select-dataset>
                </div>
            </div>
        </sly-field>



<!--    <sly-select-team-workspace :team-id.sync="state.teamId" :workspace-id.sync="state.workspaceId"></sly-select-team-workspace>-->

    <div class="fflex mt10">
    <sly-field title="Input result project name">
    <el-input v-model="state.resultingProjectName" placeholder="Please input"></el-input>
    </sly-field>
    </div>

    <el-button
            :disabled="!state.resultingProjectName || data.finished"
            type="primary"
            :loading="data.started"
            @click="data.started = true; command('import_videos')">
        <i class="zmdi zmdi-play" style="margin-right: 5px"></i> Start download
    </el-button>

    </sly-card>
</div>