<sly-field title="Import settings">
    <div class="fflex align-start" style="flex-direction: column; margin: 20px 0">
      <sly-field 
                   title="Project Name"
                   description="Adjust Project Name that will be created">
      </sly-field>
      <el-input placeholder="Project Name" v-model="state.project_name"></el-input>
        
    </div>

    <div class="fflex align-start">
        <el-checkbox v-model="state.normalize_exif" class="mt10 mr10"></el-checkbox>
        <sly-field class="mt20"
                   title="Normalize exif"
                   description="If images you import has exif rotation or they look rotated in labeling interfaces please enable
           normalize exif">
        </sly-field>
    </div>

    <div class="fflex align-start">
        <el-checkbox v-model="state.remove_alpha_channel" class="mt10 mr10"></el-checkbox>
        <sly-field class="mt20"
                   title="Remove alpha channel"
                   description="If your images have alpha channel, enable remove alpha channel">
        </sly-field>
    </div>

    <div class="fflex align-start">
        <el-checkbox v-model="state.convert_tiff" class="mt10 mr10"></el-checkbox>
        <sly-field class="mt20"
                   title="Convert .tiff to .jpeg"
                   description="Supervisely currently doesn't support .tiff image format, but if you want to import
                .tiff images, enable 'convert .tiff to .jpeg'">
        </sly-field>
    </div>

    <div class="fflex align-start">
        <el-checkbox v-model="state.remove_source" class="mt10 mr10"></el-checkbox>
        <sly-field class="mt20"
                   title="Remove temporary files after successful import"
                   description="Automatically removes source directory after successful import">
        </sly-field>
    </div>

</sly-field>
